@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --lighter-green: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
  font-size: 62.5%;
  font-family: "Karla", sans-serif;
  accent-color: var(--green-600);
}

body {
  background-color: var(--lighter-green);
  font-size: 1.6rem;
  font-weight: 400;
  max-width: 375px;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  color: var(--grey-900);
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

form {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  padding: 3rem 2rem;
}

form label,
form legend {
  color: var(--grey-900);
  margin: 1rem 0;
}

form label:not(:first-of-type){
  padding-top: 1rem;
}

form label:not(input[type=radio]+label):after {
  content: '*';
  color: var(--green-600);
}

form input,
form legend + div,
form legend + div + div,
textarea {
  border: 1px solid var(--grey-500);
  border-radius: 0.75rem;
  padding: 1rem;
}

form input:focus,
form textarea:focus {
  border: 1px solid var(--green-600);
  cursor: pointer;
  outline: none;
}

fieldset {
  border: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.error {
  color: var(--red);
  display: none;
  padding-top: 1rem;
}

.error:last-of-type {
  padding-bottom: 1rem;
}

legend + div,
legend + div + div {
  border: 1px solid var(--grey-500);
}

legend + div {
  margin-bottom: 1.4rem;
}

input[type=checkbox]{
  float: left;
  height: 1.5rem;
  margin-right: 1rem;
  width: 1.5rem;
}

.consent {
  padding: 2rem 0 1rem 0;
}

.submitBtn {
  background-color: var(--green-600);
  border: 1px solid var(--green-600);
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
}

.ty-msg {
  background-color: var(--grey-900);
  border-radius: 0.75rem;
  color: var(--white);
  font-size: 1.4rem;
  padding: 2rem;
  position: absolute;
  left: 25px;
  top: 0;
  width: 300px;
}

.ty-msg img {
  float: left;
  margin-right: 1rem;
}

.ty-msg h2 {
  font-size: 1.6rem;
}

/* Desktop Styles */
@media (min-width: 80rem) {
  body {
    max-width: 144rem; /* 1440px */
  }
  
  form {
    margin: 4rem auto;
    max-width: 60rem;
    padding: 5rem;
  }
  
  fieldset {
    display: flex;
    gap: 3rem;
  }
  
  fieldset div {
    width: 100%;
  }

  textarea {
    height: 10rem;
  }

  .ty-msg {
    left: calc(50% - 3rem);
    transform: translateX(-50%);
    width: 70rem;
  }
}